/*
 * Style for kulina-frontend (preliminary test)
 * Made by Prilivia Ruli Fatmawati
 * Yogyakarta, 5 March 2018 2:37PM
 */

 // ---------------------- variable
 $black : #000;
 $dark-green : #653308;
 $dark-orange : #f88118;
 $gray : #717e81;
 $green : #27ae60;
 $light-gray : #f3f3f3;
 $light-green : #6aca25;
 $light-white : #fdfdfe;
 $orange : #fd9941;
 $red : #f50a0a;
 $white : #fff;
 // ----------------------------------------

 // ---------------------- mixin'
 @mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin overlay($color,$opa) {
  background-color: $color;
  height: 100%;
  opacity: $opa;
  position: absolute;
  width: 100%;
}
 // ----------------------------------------

// ----------------------- fonts
@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}
.robo-bold {
  font-family: 'Roboto-Bold';
}
.robo-reg {
  font-family: 'Roboto-Regular';
}
.robo-light {
  font-family: 'Roboto-Light';
}
// font-color
.gra {
  color: $gray;
}
.gre {
  color: $green;
}
.lig-gre {
  color: $light-green;
}
.red {
  color: $red;
}
.wh {
  color: $white;
}
// font-size
.smaller {
  font-size: 0.8em;
}
.normal {
  font-size: 1em;
}
.baby-big {
  font-size: 1.2em;
}
.big {
  font-size: 1.5em;
}
.more-big {
  font-size: 2.5em;
}
.bigger {
  font-size: 3em;
}

// ----------------------------------------
body {
  box-sizing: border-box;
  font-family: 'Roboto-Regular';
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#hero-section {
  @include flexbox();
  align-items: center;
  background-attachment: fixed;
  background-image: url(../image/hero-image.jpg);
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 20px;

  nav {
    width: 100%;
  }
}
#second-section,#third-section {
  padding: 60px 0;
  &>div {
    @include flexbox();
    h3 {
      flex: 1;
      padding: 0 20px;
    }
    &>div {
      flex: 3;
      p {
        color: $gray;
      }
    }
  }
}
#third-section {
  padding: 60px 0 20px;
  background-color: $light-white;
}
// ---------------------------------------- bootstrap reset
.navbar {
  justify-content: space-between;

  .navbar-collapse {
    flex-grow: 0;
  }
}
.card {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 20px;
}
footer {
  div.col-md-10 {
    @include flexbox();
    align-items: center;
    border-top: 1px solid grey;
    justify-content: space-between;
    padding: 20px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0 0 0 5px;
    li {
      margin: 0 5px;
    }
  }
}
// ---------------------------------------- flex
.fle {
  @include flexbox();
}
.alg-center {
  align-items: center;
}
